
.footer--container {
    display: flex;
    justify-content: space-between;
}

.footer--container h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
}

.footer--container .text-uppercase {
    text-transform: uppercase;
}

.footer--container .text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin: 0;
    margin-top: 1.5rem;
}

.bg-footer {
    background-color: #33383c;
    font-family: "Raleway", sans-serif;
    display: block;
    width: 100%;
    padding: 1rem;
    /* bottom: 0; */
}

.footer--container .footer-heading {
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.footer--container .footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.footer--container .footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 16px;
    transition: all 0.2s;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.footer--container .footer-link a:hover {
    color: #E0952E;
}

.footer--container .list-inline {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer--container .list-inline-item {
    display: inline-block;
}

.footer--container .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.footer--container .contact-info {
    color: #acacac;
    font-size: 16px;
}

.footer--container .footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.footer--container .facebook {
    transition: transform 1s ease 0s;
    background-color: #4e71a8;
    color: #ffffff;
}

.footer--container .twitter {
    transition: transform 1s ease 0s;
    background-color: #55acee;
    color: #ffffff;
}

.footer--container .instagram {
    transition: transform 1s ease 0s;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: #ffffff;
}

/* HOVER */
.footer--container .facebook:hover,
.footer--container .twitter:hover,
.footer--container .instagram:hover {
    transform: rotate(360deg);
}

.footer--container .footer-alt {
    color: #acacac;
}

.footer--container .footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer--container .footer-heading:after {
    content: "";
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: block;
    border-bottom: 3px solid #E0952E;
}

@media (min-width: 768px) {
    .footer--container .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .footer--container .container {
        max-width: 540px;
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    .footer--container .container {
        max-width: 960px;
    }
}